.side-bar {
  background-color: #385789;
  min-width: 200px;
}

@media (max-width: 1053px) {
  .side-bar {
    width: 100% !important;
    max-width: 100%;
  }

  .col-md-2 {
    flex: 0 0 100%
  }
}
